<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnbinfotech.msplfootwearex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mspllogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTakeOrder" />

        <service android:name=".services.DownloadImageService" />
        <service android:name=".services.CheckNewTicketService" />
        <service android:name=".services.UploadImageService" />

        <receiver android:name=".braodcasts.AutoUpdateBroadcastReceiver" />
        <receiver
            android:name=".braodcasts.RebootBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.ImageUplaodBroadcastReceiver">
            <intent-filter>
                <action android:name="test" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".braodcasts.ReadSms">
        </receiver>

        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CheckOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NewCustomerEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry" />
        <activity
            android:name=".Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VisitPaymentFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePayment"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SelectAutoItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePayment"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChequeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePayment"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VisitOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeVisit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ImagewiseSetwiseOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTakeOrder"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CutsizeSetwiseOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTakeOrder"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AreawiseCustomerSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeVisit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AttachCustomerImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AttachAddressProofImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AttachIdProofImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AttachGSTnoPANnoImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NewCustomerEntryDetailFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNewCustEntry"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DataRefreshActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFeedback"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddToCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProductSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewCustomerOrderActiviy"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CheckoutCustOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DisplayCustListAreawiseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".DisplayCustListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DisplayCustOutstandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAddToCard"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".LedgerReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".OutstandingBillReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>